.places__place {
  max-width: 100%;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2 1fr);
  grid-template-areas:
                      "title website"
                      "image paragraph";
}
@media screen and (max-width: 1120px) {
  .places__place {
    gap: 48px 32px;
  }
}
@media screen and (max-width: 960px) {
  .places__place {
    gap: 48px 28px;
  }
}
@media screen and (max-width: 540px) {
  .places__place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    grid-template-areas:
                      "title"
                      "website"
                      "image"
                      "paragraph";
  }
}
