.lead__caption {
  margin: 8px 0 0 0;
  color: white;
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
@media screen and (max-width: 960px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}
@media screen and (max-width: 540px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
